* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  & > p {
    font-family: "Open Sans";
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f4f4f4;
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  background: url("./Assets/background.jpg") no-repeat center center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  font-size: small;
  font-weight: bold;

  /* After scrolling */
  
  /* position: fixed;  
  top: 0; 
  left: 0;  
  width: 100%; 
  z-index: 1000;  */
  
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: color 0.3s ease;
}

.nav-links li a.active,
.nav-links li a:hover {
  color: #1ec6b7;
}

.main .overlay {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
}

.content p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto 20px;
  color: rgb(208, 205, 205);
}

.mid-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #1ec6b7;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: small;
}

.mid-button:hover {
  background-color: transparent;
  color: #1ec6b7;
  border: 2px solid #1ec6b7;
}

.section2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #fff;
}

.textContainer {
  padding: 75px;
  width: 40%;
}
.intro {
  color: #1ec6b7;
  font-size: 14px;
  padding-bottom: 10px;
}
.section2 h1 {
  /* padding: 10px; */
  color: rgb(65, 64, 64);
  font-weight: bolder;
}
.p1,
.p2 {
  padding: 10px 0;
  color: rgb(155, 155, 155);
}
.p2 {
  font-style: italic;
}
.author-name {
  font-weight: bolder;

  /* padding: 10px; */
}
.img-container {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.section2-image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.section2-image:hover {
  transform: scale(1.2);
}
.section-icons {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fff;
  padding: 0 25px;
  gap: 100px;
}
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 350px;
  text-align: left;
}
.hexa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 90px;
  background-color: #1abc9c;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  /* margin: 0; 
  padding: 0;  */
}
.hexa i {
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.icon-content {
  text-align: center;
}
.i-heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 110px;
  font-size: 1.2rem;
}
.i-text {
  font-size: 0.9rem;
  color: rgb(155, 155, 155);
  margin: 0;
  line-height: 1.5;
  text-align: left;
  padding-left: 110px;
  padding-bottom: 100px;
}
.section3 {
  margin: 50px;
}

.sec3-heading {
  text-align: center; 
}

.p-services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.p-services p {
  font-size: smaller;
  color: #1abc9c;
}

.h2-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 0 auto;
  color: rgb(76, 75, 75);
}

.sec3-heading h2 {
  font-size: 1.7rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.cards img {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-content h3 {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
  color: rgb(76, 75, 75);
}

.card-content p {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
  padding: 10px 30px;
  text-align: justify;
  line-height: 1.5;
  
}
.card-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 30px; 
  font-size: 0.9rem;
}

.card-content li {
  color: #777;
  list-style: none;
  display: flex;
  align-items: center; 
  margin: 0; 
  padding: 0; 
}

.card-content li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #14bf98;
  margin-right: 10px; 
  margin-bottom: 0; 
  border-radius: 2px; 
}
.card-content h4 {
  padding-top: 30px;
  color: rgb(76, 75, 75);
}
.card-content strong {
  color: #14bf98;
}

.details{
  height: 40px;
  width: 110px;
  position: relative;
  background-color: #14bf98;
  color: white;
  border: 2px solid #14bf98;
  transition: 0.125s ease-in-out;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  top: 20px;
  cursor: pointer;
}

.details:hover{
  background-color: white;
  color:#14bf98 ;
}
.s3first {
  display: flex;
  height: 66vh;
}
.s3first img {
  width: 50%;
}
.s3first-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  gap: 20px;
  margin: auto;
}
.topic {
  display: flex;
  align-items: center;
}
.topic .h3-first {
  color: #14bf98;
}
.s3first .span1 {
  display: inline-block; 
  width: 40px;         
  height: 40px;          
  border: 2px solid #14bf98 ;
  background-color: #14bf98;
  color: white; 
  border-radius: 50%;     
  text-align: center;     
  line-height: 40px;   
  font-weight: bold;
  margin-right: 10px;
}
.topic1para {
  margin-left: 50px;
  padding-right: 20px;
  color: #777;
}
.topic {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
.s3first span {
  display: inline-block; 
  width: 40px;         
  height: 40px;          
  border: 2px solid black ; 
  border-radius: 50%;     
  text-align: center;     
  line-height: 40px;   
  font-weight: bold;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}
.topic:hover {
  color: #14bf98;
  cursor: pointer;
  & > span {
    border-color: #14bf98;
  }
}
.s3second {
  display: flex;
  height: 66vh;
}
.s3second-content {
  display: inline-block;
  padding: 100px;
  width: 50%;
}
.s3second-content nav {
  display: flex;
  list-style: none;
}
.s3second-content li {
  padding: 20px;
  font-size: x-large;
  cursor: pointer;
  font-weight: 700;

}
#li1 {
  color: #14bf98;
}
#li {
  color: #9c9b9b;
  transition: color 0.3s ease;
}
#li:hover {
  color: #14bf98;
}
.s3second-content h3 {
  padding: 20px;
}
.s3second-content .para {
  padding-left: 20px;
  font-family: sans-serif;
  letter-spacing: 1.2px;
  color: #777;

  & > a {
    color: #14bf98;
  }
}
.bar-head {
  color: black;
  padding: 20px;
  padding-bottom: 0;
}
.progress {
  width: 500px;
  background-color: #14bf98;
  border: 1px solid #14bf98;
  height: 20px;
  margin-left: 20px;
  border-radius: 3px;
  margin-top: 5px;
}
.s3second img {
  width: 50%;
}

/* third part */

.testimonials {
  margin-top: 30px;
  text-align: center;
  padding: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
.testimonials p {
  color: #777;
}

.model-head {
  margin: 0 auto;
  padding: 0 75px;
  width: 60%;
  text-align: center;
}
.model-head h2 {
  padding: 15px;
}
.model-head p {
  line-height: 1.3;
}
.models {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.model {
  width: 300px;
  height: 200px;
}
.model img {
  width: 96px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  padding-bottom: 10px;
}
.model p {
  font-size: 0.9rem;
  font-style: italic;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 1.5;
}

.arrow {
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: #333; 
  cursor: pointer;
}

.section4 {
  margin: 40px 0;
  padding: 30px 100px;
  height: 600px;
  background-color: #153e52;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
 .leftbox {
  padding: 50px 30px;
  width: 700px;
  height: 400px;
  margin: 0 30px;
  text-align: left;
}

.leftbox #head {
  font-size: 13px;
  color: #14bf98;
  font-weight: 500;
  padding: 5px;
}
.leftbox h1 {
  padding: 5px;
  color: white;
}
.leftbox p {
  color: white;
  padding: 10px 5px;
  line-height: 1.3;
}
.leftbox ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 5px; 
  font-size: 0.9rem;
}
.leftbox li {
  color: white;
  list-style: none;
  display: flex;
  align-items: center; 
  margin: 0; 
  padding: 0; 
}
.leftbox li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #14bf98;
  margin-right: 10px; 
  margin-bottom: 0; 
  border-radius: 2px; 
}
.rightbox {
  padding: 30px 20px;
  width: 700px;
  height: 400px;
  margin: 0 30px;
}

.form-container {
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-container input, .form-container select {
  height: 50px;
  width: 450px; 
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #276073; 
  color: white;
  font-size: 16px;
}
.form-container input::placeholder {
  color: white; 
}
.form-container .check {
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
.form-container .checkbox {
  height: 15px;
  width: 15px;
  accent-color: grey;
}
.check a {
  color: white;
}
.form-container button {
  height: 50px;
  width: 450px;
  font-weight: 700;
  background-color: #14bf98;
  border-radius: 3px;
  border: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.form-container button:hover {
  cursor: pointer;
  background-color: transparent;
  color: #14bf98;
  border: 2px solid #14bf98;
}
.form-container .checkbox {
  cursor: pointer;
}

/* Section5 Projects */
.section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s5-head {
  margin: auto;
  text-align: center;
}
.s5-head p {
  font-size: 13px;
  color: #14bf98;
  font-weight: 500;
  padding-bottom: 10px;
}
.s5-head h1 {
  font-size: xx-large;
}

.s5-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.s5-buttons .button1 {
  background-color: #14bf98;
  color: white;
}
.s5-buttons button {
  height: 40px;
  width: 120px;
  margin: 10px;
  position: relative;
  background-color: #dfdedeb2;
  color:rgb(101, 101, 101);
  border: none;
  transition: 0.125s ease-in-out;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  top: 20px;
  cursor: pointer;
}
.s5-buttons button:hover {
  background-color:#14bf98;
  color:white ;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: 1fr; 
  max-width: 80%;
  height: 600px;
  aspect-ratio: 16/9;
  padding: 30px;
  margin-bottom: 20px;
}

.image-grid div {
  position: relative; 
  overflow: hidden; 
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease; 
}

.image-grid img:hover {
  transform: scale(1.2); 
}
.consultants {
  margin-top: 100px;
}
.con-head {
  width: 60%;
  margin: auto;
  text-align: center;
}
.con-head h1 {
  padding: 20px;
  font-size: xx-large;
  color: #333;
}
.con-head p {
  color: #777;
}
.cons-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.cons {
  position: relative;
  overflow: hidden; 
}

.cons img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease;
}

.cons img:hover {
  transform: scale(1.2); 
}

#con-head {
  font-family: "Open Sans";
  font-size: 18px;
  color: #777;
  padding: 10px;
}

.cons strong {
  font-family: "Montserrat";
  padding-top: 10px;
}
.cons i {
  color: #14bf98;
  font-size: larger;
}
.cons i:hover {
  cursor: pointer;
}

/* Section 6 About */

.section6 {
  margin-top: 100px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-img {
  width: 570px;
  height: 359px;
}
.about-img img {
  object-fit: cover;
  width: 90%;
}
.img-content {
  width: 570px;
  height: 359px;
}
.img-content #head-p {
  padding-bottom: 10px;
  font-family: "Montserrat";
  color: #14bf98;
  font-size: 13px;
} 
.img-content h1 {
  font-size: 28px;
  padding-bottom: 20px;
}
.img-content p {
  font-size: 16px;
  color: #777;
  line-height: 1.5;
  padding-bottom: 10px;
}
.img-content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-left: 5px; 
  font-size: 0.9rem;
}
.img-content li {
  color: #777;
  font-family: "Open Sans";
  font-size: 16px;
  list-style: none;
  display: flex;
  align-items: center; 
  margin: 0; 
  padding: 0; 
}
.img-content li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #14bf98;
  margin-right: 10px; 
  margin-bottom: 0; 
  border-radius: 2px; 
}
.cells {
  display: flex;
}
.cell {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}
.cell .num {
  font-size: 46px;
  color: #14bf98;
  font-weight: 700;
  margin: 10px;
}
.cell .txt {
  width: 42px;
  height: 40px;
  margin: 10px;
  color: #777;
}

/* Section 7 Contact */
.section7 {
  margin: 40px 0;
  padding: 30px 100px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftside {
  padding: 50px 30px;
  width: 700px;
  height: 400px;
  margin: 0 30px;
  text-align: left;
}
.leftside #head {
  color: #14bf98;
  font-family: "Montserrat";
  font-size: 13px;
}
.leftside h1 {
  color: #333;
  /* font-size: 28px; */
  /* padding-bottom: 10px; */
}
.leftside p {
  color: #777;
  padding: 10px;
}
.leftside i {
  color: #14bf98;
  padding: 5px;
}

.rightside {
  padding: 30px 20px;
  width: 700px;
  height: 400px;
  margin: 0 30px;
}

.logs {
  display: flex;
  align-items: center;
}
.logs a {
  padding: 10px;
  color: #777;
}
.follow {
  margin-top: 20px;
}
.social-icons {
  font-size: 2.5rem;
}
.form-container textarea {
  height: 120px;
  width: 450px; 
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 16px;
}
#form2::placeholder {
  color: #777;
}


.green {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  background-color: #153e52;
  height: 232px;
  width: 100%;
}
.green h1, p {
  color: white;
}
.green h1 {
  font-size: 20px;
  padding: 10px;
}
.green p {
  font-size: 14px;
  padding: 10px;
}
.green a {
  color: white;
  line-height: 1.5;
  font-size: 14px;
  padding: 10px;
}
.few-words {
  height: 152px;
  width: 570px;
  padding-right: 20px;
}
.links {
  width: 190px;
  height: 152px;
}
.copyright {
  height: 62px;
  width: 100%;
  background-color: #153e52;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crtext {
  color: white;
  font-size: 14px;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

#scrollToTopBtn {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  padding: 10px 15px;
  font-size: 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 50%;
  text-decoration: none; 
}
